body {
background: whitesmoke;
color: rgb(48, 42, 42);
}

 .videospequenos img {
height: 150px;
opacity: 0.5;
 }

 .videospequenos {
  overflow-x: auto;
  display: flex;
  gap: 10px;
 }

 .videospequenos img:hover {
opacity: 1.0;
boorder: 5px solid whitesmoke
}

header {
 font-size: 40px ;
}